<md-card>
  <md-card-header>
    <div md-card-avatar></div>
    <md-card-title>{{ movie.Title }}</md-card-title>
    <md-card-subtitle>{{ movie.imdbID }}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{ movie.Poster }}" >
  <md-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias mollitia, tempore ab deserunt eos rerum, dolores quo libero, vitae natus omnis explicabo, minima dolorem distinctio nobis deleniti nostrum voluptate illum?
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>